
* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #f8f8f8;
}

h1 {
  color: #545250;
  margin: 10px;
}

input {
  flex:0.5;
  padding: 8px;
  margin: 10px;
}


.container {
  display: flex;
  justify-content: center;
}

.crossed {
  text-decoration: line-through 2px #e1bbb1;
}

ul, li {
  color: #545250;
  list-style-type: none;
  padding: 10px;
  font-style: italic;
}

button {
  padding: 10px;
border: none;
border-radius: 5px;
width: 50%;
color: white;
font-size: 16px;
}

.btn_add {
  background: #e1bbb1;
  margin-top: 5px;
}

.btn_del {
  background: #e3ddd8;
  margin-bottom: 5px;
}

img {
  margin-top: 70px;
}
